---
import Layout from "../layouts/Layout.astro";
import Spotify from "@/icons/Spotify.astro";
import Link from "../components/ui/Link.astro";
---

<Layout title="Home" description="get">
  <main
    class="flex flex-col items-center justify-center m-auto w-full max-w-3xl min-h-screen"
  >
    <picture class="h-24 w-24 text-spotify-green">
      <Spotify />
    </picture>
    <h1 class="text-4xl font-bold">Spotify Stats</h1>
    <p>Get your stats right here!</p>
    <Link class="mt-4" href="#">See my stats</Link>
  </main>
</Layout>
