---
import Layout from "../layouts/Layout.astro";
import Spotify from "@/icons/Spotify.astro";
import LoginButton from "@/components/LoginButton.astro";
---

<Layout title="Home" description="get">
  <main class="flex flex-col items-center justify-center">
    <picture class="h-24 w-24 text-spotify-green">
      <Spotify />
    </picture>
    <h1 class="text-4xl font-bold">Spotify Stats</h1>
    <p>Get your stats right here!</p>
    <LoginButton class="mt-4"> See my stats </LoginButton>
  </main>
</Layout>
